@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



<div class="text-center">
    <h2 id="info">Place down some ships</h2>
    <div id="mainArea">
    <div>
        <table id=PlayerField> </table>
        <table id="EnemyField"> </table>
    </div>
    <div id="buttons">
        <button onclick="sendSwap()" id="passTurn">Pass turn</button>
        <button onclick="sendRandom()" id="passRandom">Set random</button>
    </div>
    </div>
    <button onclick="showBoard(true)" class="hidden" id="showButton">Show board</button>
</div>
